<h1>Add Data</h1>

<form action="patient/addData" method="POST">
<div class="input">
    <label for="first_name">first name</label>
    <input type="String" id="first_name" name="first_name">
</div>
<div class="input">
    <label for="last_name">last name</label>
    <input type="String" id="last_name" name="last_name">
</div>
<button type="submit">Add</button>
</form>