<h1>Main page</h1>
<p>
    <div class="box">
            <a class="linka" href="/patient/sign_in">Patient</a>
    </div>
    <div class="box">
            <a class="linka" href="/clinician">Clinician</a>
    </div>
</p>
