<h1>Patient Home Page</h1>
<p>
    <div class="box">
            <a class="linka" href="/patient/history">Data History</a>
    </div>
    <div class="box">
            <a class="linka" href="/patient/addData">Record Data</a>
    </div>
</p>