<h1>Sign In As Patient</h1>
<body>
    <div class="loginbox">
        <h1>Login here</h1>
        <form action="/patient">
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="#">Forget password?</a>
            <a href="#">Create an account</a>
        </form>
    </div>
</body>